################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/api/NZWalks/.vs/NZWalks/v17/.suo
